---
import '../../css/style.css'

const { title, description, imgRoute } = Astro.props
---

<header
  class='w-full h-full bg-black text-white flex flex-col items-center pb-16 md:flex-row-reverse md:h-[490px] md:pb-0'
>
  <img
    loading='lazy'
    class='w-full md:hidden'
    src={`/assets/${imgRoute}/mobile/hero.jpg`}
    role='presentation'
  />
  <div class='hidden md:block h-full w-2/5 max-h-[490px] lg:w-3/5'>
    <img
      loading='lazy'
      class='object-cover h-full w-full md:object-scale-down md:object-right lg:hidden'
      src={`/assets/${imgRoute}/tablet/hero.jpg`}
      role='presentation'
    />
    <img
      loading='lazy'
      class='hidden lg:block object-cover h-full w-full md:object-right lg:h-full'
      src={`/assets/${imgRoute}/desktop/hero.jpg`}
      role='presentation'
    />
  </div>
  <section
    class='w-full grid place-content-center md:w-3/5 md:pt-0 gradient-tablet lg:w-2/5'
  >
    <div
      class='grid w-full justify-center gap-4 max-w-[320px] gradient-mobile pt-16 md:pt-0 lg:max-w-[380px]'
    >
      <h1 class='font-semibold text-3xl uppercase tracking-widest lg:text-4xl'>
        {title}
      </h1>
      <p class='opacity-60 text-base'>
        {description}
      </p>
    </div>
  </section>
</header>
