---
import '../../css/style.css'
const { item, dark } = Astro.props

let monthPrice = item.price.toFixed(2)

let yearPrice = Math.floor(monthPrice * 0.8).toFixed(2)
---

<article
  class={`w-full min-h-[410px] group ${
    dark && 'darkCard cardGradient'
  } md:min-h-[270px]`}
  id={item.id}
>
  <div
    class='w-full min-h-full px-6 grid place-items-center gap-10 place-content-center bg-gray bg-opacity-30 group-[.darkCard]:bg-black group-[.darkCard]:bg-opacity-100 group-[.darkCard]:text-white md:grid-cols-2 md:grid-rows-[120px, 40px] md:px-10'
  >
    <div
      class='w-full space-y-4 text-center md:col-start-1 md:col-end-2 md:row-start-1 md:row-end-2 md:text-left'
    >
      <p class='font-bold text-2xl tracking-wider'>{item.title}</p>
      <p class='opacity-60'>
        {item.description}
      </p>
    </div>
    <div
      class='md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-3 md:self-start md:justify-self-end md:tracking-widest'
    >
      <p class='block font-semibold text-4xl text-center group-[.year]:hidden'>
        $ {monthPrice}
      </p>
      <p class='hidden font-semibold text-4xl text-center group-[.year]:block'>
        $ {yearPrice}
      </p>
      <p class='opacity-60 text-center md:text-right md:mt-2'>per month</p>
    </div>
    <div
      class='w-[240px] md:w-[270px] md:col-start-1 md:col-end-2 md:row-start-2 md:row-end-3'
    >
      <button
        type='button'
        id={`${item.id}btn`}
        class='uppercase w-full h-10 font-bold bg-black text-white group-[.darkCard]:bg-white group-[.darkCard]:text-black'
        >Pick plan</button
      >
    </div>
  </div>
</article>

<!-- 


  <article
  class={`w-full min-h-[410px] group ${dark && 'darkCard cardGradient'}`}
  id={item.id}
>
  <div
    class='w-full min-h-[410px] px-6 grid place-items-center gap-10 place-content-center bg-gray bg-opacity-30 group-[.darkCard]:bg-black group-[.darkCard]:bg-opacity-100 group-[.darkCard]:text-white'
  >
    <div class='w-full space-y-4 text-center'>
      <p class='font-bold text-2xl tracking-wider'>{item.title}</p>
      <p class='opacity-60'>
        {item.description}
      </p>
    </div>
    <div>
      <p class='block font-semibold text-4xl text-center group-[.year]:hidden'>
        $ {monthPrice}
      </p>
      <p class='hidden font-semibold text-4xl text-center group-[.year]:block'>
        $ {yearPrice}
      </p>
      <p class='opacity-60 text-center'>per month</p>
    </div>
    <div class='w-[240px]'>
      <button
        type='button'
        id={`${item.id}btn`}
        class='uppercase w-full h-10 font-bold bg-black text-white group-[.darkCard]:bg-white group-[.darkCard]:text-black'
        >Pick plan</button
      >
    </div>
  </div>
</article>



 -->
